 <!-- BANNER -->
      <div class="bannercontainer bannerV2">
        <div class="fullscreenbanner-container">
          <div class="fullscreenbanner-bg">
          </div> 
          <div class="container">
            <div class="slider-caption">
              <div class="caption caption1">
                <a href="index-v2.html">
                <img src="img/home/banner-slider/caption1.png" alt="slider-image">
                </a>
              </div>
              <div class="caption caption2">
                <a href="index-v2.html">
                <img src="img/home/banner-slider/caption2.png" alt="slider-image">
                </a>
              </div>
              <div class=" caption caption3">
                <a href="index-v2.html">
                <img src="img/home/banner-slider/caption3.png" alt="slider-image">
                </a>
              </div>
              <div class="caption caption4">
                <a href="index-v2.html">
                <img src="img/home/banner-slider/caption4.png" alt="slider-image">
                </a>
              </div>
              <div class="slider-caption-info text-center">
                <div class="caption-info-inner text-center">
                  <div class="h2 text-center">
                    Summer sale
                  </div>
                  <div class="border text-center">
                  </div>
                  <div class="para text-center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim .
                  </div>
                  <div class="slider-button text-center">
                    <a target="_blank" href="https://goo.gl/VCbeOp" class="btn primary-btn">Buy Now<i class="glyphicon glyphicon-chevron-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>