   <!-- INSTAGRAM SECTION -->
      <section class="instagramSection clearfix">
        <div class="image-gallery">
          <img src="img/home/home-gallery/ins-img1.jpg" alt="Image">
        </div>
        <div class="image-gallery">
          <img src="img/home/home-gallery/ins-img2.jpg" alt="Image">
        </div>
        <div class="image-gallery">
          <img src="img/home/home-gallery/ins-img3.jpg" alt="Image">
        </div>
        <div class="image-gallery">
          <img src="img/home/home-gallery/ins-img4.jpg" alt="Image">
        </div>
        <div class="image-gallery">
          <img src="img/home/home-gallery/ins-img5.jpg" alt="Image">
        </div>
        <div class="image-gallery">
          <img src="img/home/home-gallery/ins-img6.jpg" alt="Image">
        </div>
      </section>

      <!-- FOOTER -->
      <div class="footer clearfix version2">
        <div class="container">
          <div class="row">
            <div class="col-sm-2 col-xs-12">
              <div class="footerLink">
                <h5>Accessories</h5>
                <ul class="list-unstyled">
                  <li><a href="index-v2.html#">Body care </a></li>
                  <li><a href="index-v2.html#">Chambray </a></li>
                  <li><a href="index-v2.html#">Floral </a></li>
                  <li><a href="index-v2.html#">Rejuvination </a></li>
                  <li><a href="index-v2.html#">Shaving </a></li>
                  <li><a href="index-v2.html#">Toilette </a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-2 col-xs-12">
              <div class="footerLink">
                <h5>BRANDS</h5>
                <ul class="list-unstyled">
                  <li><a href="index-v2.html#">Barbour </a></li>
                  <li><a href="index-v2.html#">Brioni </a></li>
                  <li><a href="index-v2.html#">Oliver Spencer</a></li>
                  <li><a href="index-v2.html#">Belstaff</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-2 col-xs-12">
              <div class="footerLink">
                <h5>Accessories</h5>
                <ul class="list-unstyled">
                  <li><a href="index-v2.html#">Body care </a></li>
                  <li><a href="index-v2.html#">Chambray </a></li>
                  <li><a href="index-v2.html#">Floral </a></li>
                  <li><a href="index-v2.html#">Rejuvination </a></li>
                  <li><a href="index-v2.html#">Shaving </a></li>
                  <li><a href="index-v2.html#">Toilette </a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-2 col-xs-12">
              <div class="footerLink">
                <h5>Get in Touch</h5>
                <ul class="list-unstyled">
                  <li>Call us at (555)-555-5555</li>
                  <li><a href="mailto:support@iamabdus.com">support@iamabdus.com</a></li>
                </ul>
                <ul class="list-inline">
                  <li><a href="index-v2.html#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="index-v2.html#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="index-v2.html#"><i class="fa fa-dribbble"></i></a></li>
                  <li><a href="index-v2.html#"><i class="fa fa-vimeo"></i></a></li>
                  <li><a href="index-v2.html#"><i class="fa fa-tumblr"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="newsletter clearfix">
                <h4>Newsletter</h4>
                <h3>Sign up now</h3>
                <p>Enter your email address and get notified about new products. We hate spam!</p>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="your email address" aria-describedby="basic-addon2">
                  <a href="index-v2.html#" class="input-group-addon" id="basic-addon2">go <i class="glyphicon glyphicon-chevron-right"></i></a>
                </div>
              </div>  
            </div>
          </div>
        </div>
      </div>
      <!-- COPY RIGHT -->
      <div class="copyRight clearfix version2">
        <div class="container">
          <div class="row">
            <div class="col-sm-7 col-xs-12">
              <p>&copy; 2016 Copyright Bigbag Store Bootstrap Template by <a target="_blank" href="http://www.iamabdus.com/">Abdus</a>.</p>
            </div>
            <div class="col-sm-5 col-xs-12">
              <ul class="list-inline">
                <li><img src="img/home/footer/card1.png"></li>
                <li><img src="img/home/footer/card2.png"></li>
                <li><img src="img/home/footer/card3.png"></li>
                <li><img src="img/home/footer/card4.png"></li>
              </ul>  
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- LOGIN MODAL -->
    <div class="modal fade login-modal" id="login" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">log in</h3>
          </div>
          <div class="modal-body">
            <form action="index-v2.html" method="POST" role="form">
              <div class="form-group">
                <label for="">Enter Email</label>
                <input type="email" class="form-control" id="">
              </div>
              <div class="form-group">
                <label for="">Password</label>
                <input type="password" class="form-control" id="">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Remember Me
                </label>
              </div>
              <button type="submit" class="btn btn-primary btn-block">log in</button>
              <button type="button" class="btn btn-link btn-block">Forgot Password?</button>
            </form>  
          </div>
        </div>
      </div>
    </div>

    <!-- SIGN UP MODAL -->
    <div class="modal fade" id="signup" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">Create an account</h3>
          </div>
          <div class="modal-body">
            <form action="index-v2.html" method="POST" role="form">
              <div class="form-group">
                <label for="">Enter Email</label>
                <input type="email" class="form-control" id="">
              </div>
              <div class="form-group">
                <label for="">Password</label>
                <input type="password" class="form-control" id="">
              </div>
              <div class="form-group">
                <label for="">Confirm Password</label>
                <input type="password" class="form-control" id="">
              </div>
              <button type="submit" class="btn btn-primary btn-block">Sign up</button>
            </form>  
          </div>
        </div>
      </div>
    </div>

    <!-- PORDUCT QUICK VIEW MODAL -->
    <div class="modal fade quick-view" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <div class="media">
              <div class="media-left">
                <img class="media-object" src="img/products/quick-view/quick-view-01.jpg" alt="Image">
              </div>
              <div class="media-body">
                <h2>Old Skool Navy</h2>
                <h3>$149</h3>
                <p>Classic sneaker from Vans. Cotton canvas and suede upper. Textile lining with heel stabilizer and ankle support. Contrasting laces. Sits on a classic waffle rubber sole.</p>
                <span class="quick-drop">
                  <select name="guiest_id3" id="guiest_id3" class="select-drop">
                    <option value="0">Size</option>
                    <option value="1">Size 1</option>
                    <option value="2">Size 2</option>
                    <option value="3">Size 3</option>            
                  </select>
                </span>
                <span class="quick-drop resizeWidth">
                  <select name="guiest_id4" id="guiest_id4" class="select-drop">
                    <option value="0">Qty</option>
                    <option value="1">Qty 1</option>
                    <option value="2">Qty 2</option>
                    <option value="3">Qty 3</option>            
                  </select>
                </span>
                <div class="btn-area">
                  <a href="index-v2.html#" class="btn btn-primary btn-block">Add to cart <i class="fa fa-angle-right" aria-hidden="true"></i></a> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>





  </body>
</html>