<!-- NAVBAR -->
        <nav class="navbar navbar-main navbar-default nav-V2" role="navigation">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index-v2.html"><img src="img/logo.png" alt="logo"></a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">            
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown active">
                  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                  <ul class="dropdown-menu dropdown-menu-left">
                    <li><a href="index-v1.html">Home Default</a></li>
                    <li class="active"><a href="index-v2.html">Home Classic</a></li>
                    <li><a href="index-v3.html">Home Deals</a></li>
                    <li><a href="index-v4.html">Home Mega</a></li>
                  </ul>
                </li>
                <li class="dropdown megaDropMenu">
                  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true" aria-expanded="false">Shop</b></a>
                  <ul class="dropdown-menu row">
                    <li class="col-sm-3 col-xs-12">
                      <ul class="list-unstyled">
                        <li>Products Grid View</li>
                        <li><a href="product-grid-left-sidebar.html">Products Sidebar Left</a></li>
                        <li><a href="product-grid-right-sidebar.html">Products Sidebar Right</a></li>
                        <li><a href="product-grid-3-col-filter.html">Products 3 Columns V1</a></li>
                        <li><a href="product-grid-3-col.html">Products 3 Columns V2</a></li>
                        <li><a href="product-grid-4-col.html">Products 4 Columns</a></li>
                      </ul>
                    </li>
                    <li class="col-sm-3 col-xs-12">
                      <ul class="list-unstyled">
                        <li>Products List View</li>
                        <li><a href="product-list-left-sidebar.html">Products Sidebar Left</a></li>
                        <li><a href="product-list-right-sidebar.html">Products Sidebar Right</a></li>
                        <li class="listHeading">Others</li>
                        <li><a href="single-product.html">Single Product</a></li>
                        <li><a href="cart-page.html">Cart Page</a></li>
                      </ul>
                    </li>
                    <li class="col-sm-3 col-xs-12">
                      <ul class="list-unstyled">
                        <li>Checkout</li>
                        <li><a href="checkout-step-1.html">Step 1 - Address</a></li>
                        <li><a href="checkout-step-2.html">Step 2 - Shipping</a></li>
                        <li><a href="checkout-step-3.html">Step 3 - Payment</a></li>
                        <li><a href="checkout-step-4.html">Step 4 - Payment</a></li>
                        <li><a href="checkout-complete.html">Order Complete</a></li>
                      </ul>
                    </li>
                    <li class="col-sm-3 col-xs-12">
                      <a href="index-v2.html#" class="menu-photo"><img src="img/menu-photo.jpg" alt="menu-img"></a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">pages</a>
                  <ul class="dropdown-menu dropdown-menu-left">
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="signup.html">Register</a></li>
                    <li><a href="signup-login.html">Register or Login</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="lost-password.html">Password Recovery</a></li>
                    <li><a href="privacy-policy.html">Privacy Policy</a></li>
                    <li><a href="terms-and-conditions.html">Terms &amp; Conditions</a></li>
                    <li><a href="404.html">404 Not Found</a></li>
                    <li><a href="short-code.html">Short Code</a></li>
                    <li><a href="coming-soon.html">Coming Soon</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">blog</a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="blog-right-sidebar.html">Right Sidebar</a></li>
                    <li><a href="blog-left-sidebar.html">Left Sidebar</a></li>
                    <li><a href="blog-fullwidth.html">Full Width</a></li>
                    <li><a href="blog-single-fullwidth.html">Single Post</a></li>
                    <li><a href="blog-single-right-sidebar.html">Single Right Sidebar</a></li>
                    <li><a href="blog-single-left-sidebar.html">Single Left Sidebar</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account</a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="account-dashboard.html">Dashboard</a></li>
                    <li><a href="account-profile.html">Profile</a></li>
                    <li><a href="account-all-orders.html">All Orders</a></li>
                    <li><a href="account-single-order.html">Single Order</a></li>
                    <li><a href="account-wishlist.html">Wishlist</a></li>
                    <li><a href="account-address.html">Address</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->

            <div class="dropdown cart-dropdown">
              <a href="javascript:void(0)" class="dropdown-toggle shop-cart" data-toggle="dropdown">
                <i class="fa fa-shopping-cart"></i>
                <span class="badge">3</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li>Item(s) in your cart</li>
                  <% if (cart.items.length === 0) { %>
                    <li>Your cart is still empty :(</li>
                  <% } %>
                <%
                  for (var j = 0; j< cart.items.length; j++) { 
                    var item = cart.items[j];
                %>
                  <li>
                    <a href="single-product.html">
                      <div class="media">
                        <img class="media-left media-object" src="<%= item.images[0]; %>" alt="cart-Image">
                        <div class="media-body">
                          <h5 class="media-heading"><%= item.name; %> <br><span><%= item.quantity; %> X <%= item.price; %></span></h5>
                        </div>
                      </div>
                    </a>
                  </li>

                <% } %>

                <li>
                  <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" onclick="location.href='cart-page.html';">Shopping Cart</button>
                    <button type="button" class="btn btn-default" onclick="location.href='checkout-step-1.html';">Checkout</button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>