body {
  
  padding-top: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
a:hover {
  text-decoration: none;
}

h1,h2,h3,h4,h5 {
  font-weight: bold;
  color: #555;
}
.block {
  display: block;
}
.cart {
	margin-bottom: 20px;
}
.cart a {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}

.product {
      display: block;
      cursor: pointer;
      color: #000;
      margin: 10px;
    }

 .product .image {
    display: block;
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 150px;
    background-position: center;
    
  }
  

.product .name {
	display:block;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
  text-transform: uppercase;
  font-weight: bold;
}

.product .info {
  margin-top: 10px;
}

.sidenav .group {
  margin-bottom: 30px;
}

.sidenav .group-title {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}
.sidenav .group-item {
  
  padding:10px;
  padding-left: 0px;
  text-transform: uppercase;
  font-weight: bold;
}


.product-controls {
  padding:10px;
  margin-bottom: 20px;
}

/* navbar cart */
ul.dropdown-cart{
    min-width:250px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
    background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;   
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}